services:
  mongo:
    image: mongo
    container_name: db-stcms-microservice
    restart: always
    ports:
      - '${MONGO_PORT}:27017' # hostPort:containerPort
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
